!= partial('_partial/head')
  body
    .page-top-stripe
    != partial('_partial/header')
    article.page-content.home
      != body

    footer.footer.inner(style = "display: none")
      include _partial/footer
    != partial('_partial/after_footer')
  .hidden(style = "display: none")
    .header.inner
    .content.inner
      .main-col.alignleft
        .wrapper
      aside#sidebar.alignright
        != partial('_partial/sidebar')
      .clearfix
