header.page-header
  img(src="#")
  h1.title
    = 'Archives'
article.page-content.centering
  article
    .post-content
      .entry
        - page.posts.each(function(item){
            article(class=item.layout)
              .post-content
                header
                  .icon
                  time(datetime=item.date.toDate().toISOString())
                    a(href=config.root+item.path)
                      != item.date.format(config.date_format)

                    h3.title.link
                      a(href=config.root+item.path target="_blank")
                        = item.title
        - })
        != list_categories()
        != list_archives()
        != list_posts({amount:1})
        != search_form(options)
        != partial('pagination')
